{% load url from future %} 
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if page_title == album_title %}
	<title>{{ page_title}}</title>
	{% else %}
	<title>{{page_title}}&#160;&#8226;&#160;{{ album_title }}</title>	
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'pyntrest/css/pyntrest-main.css' %}" />
	<link href="{% static 'pyntrest/css/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'pyntrest/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icon -->
    <link rel="icon" href="{% static 'pyntrest/res/favicon.png' %}" type="image/png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'pyntrest/res/favicon-apple.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'pyntrest/res/favicon-apple.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'pyntrest/res/favicon-apple.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'pyntrest/res/favicon-apple.png' %}">
	<!-- Javascript -->
	<script src="{% static 'pyntrest/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'pyntrest/js/masonry-3.1.5.min.js' %}"></script>
	<script src="{% static 'pyntrest/js/jquery.lazy-0.1.18.min.js' %}"></script>
	<script src="{% static 'pyntrest/js/jquery.fancybox-2.min.js' %}"></script>
    <script src="{% static 'pyntrest/js/jquery.fancybox-media-2.js' %}"></script>
</head>
<body>

	<div class="breadcrumb">
		<div class="breadcrumbtext">
			{% if breadcrumbs %} 
			{% for breadcrumb in breadcrumbs %} 
                <a href="{{ breadcrumb.path }}">{{breadcrumb.title}}&#160;&#8226;</a>
			{% endfor %} 
			{% endif %}
		</div>
	</div>

	<div class="header">
		<div class="headertext">
			<h1>{{ album_title }}</h1>
			<p>{% if album_description %} {{ album_description }} {% endif %}</p>
		</div>
	</div>

	<div class="content">

		{% if subalbums %}
        
            <h2>{{ lang_albums }}</h2>
		
			<div class="tiles">
			
				{% for album in subalbums %}
				<div class="tile" style="width={{ col_width }}; height={{ col_height }};">
				

				    <a href="{{ request.path }}{{ album.path }}"> 
					{% if album.cover %}
						{% with 'pyntrest/images/album_thumbs/'|add:album.cover as album_thumb %}
						<img class="lazyload" src="" data-src="{% static album_thumb %}" width="{{ col_width }}" height="{{ col_height }}" alt="">
						{% endwith %}
					{% else %}
						<div class="tile-placeholder" style="width: {{ col_width }}px; height: {{ col_height }}px;"></div>
					{% endif %}
					</a>
					<div class='tile-overlay'>{{album.title}}</div>
					{% if album.modified %}
						<div class='tile-modified'>
							<span class="fa-stack">
            	           		<i class="fa fa-circle fa-stack-2x "></i>
  								<i class="fa fa-plus-circle fa-stack-2x  fa-inverse"></i>
            	           	</span>
 			         	</div>
					{% endif %}
					
					
				</div>
				{% endfor %}
				
			</div>
		
		{% endif %}
		
		{% if images %}
            
            <h2>{{ lang_images }}</h2>
            
			<div class="tiles">
			
				{% for image in images %}
				
					<div class="tile" style="width={{ image.width }}; height={{ image.height }};">	 
				    {% if image.type == 'img' %}
		
	                    {% with 'pyntrest/images/full_size/'|add:image.location as image_full %}
                        <a href="{% static image_full %}" title="{{ image.description }}" class="fancybox" rel="group" >
                        {% with 'pyntrest/images/image_thumbs/'|add:image.location as image_thumb %}
                        <img class="lazyload" src="" data-src="{% static image_thumb %}" width="{{ image.width }}" height="{{ image.height }}" alt="">
                        {% endwith %}
                        </a>
                        {% if image.description %}
                            <div class='tile-info'>
                                <i class="fa fa-quote-left" ></i>
                            </div>
                        {% endif %}
                        <div class='tile-download'><a href="{% static image_full %}" download="{{ image.title }}"><i class="fa fa-cloud-download" ></i></a></div>
                        
                        {% endwith %}
		                
	                {% elif image.type == 'you' %}
	                    
 						<a class="fancybox" title="{{ image.description }}" rel="group" href="http://www.youtube.com/watch?v={{ image.youtubeid }}">
                        {% with 'pyntrest/images/image_thumbs/'|add:image.location as image_thumb %}
                        <img class="lazyload" src="" 
                        data-src="http://img.youtube.com/vi/{{ image.youtubeid }}/hqdefault.jpg" 
                        width="{{ image.width }}" height="{{ image.height }}" alt="">
                        {% endwith %}
   					    </a>
   					    {% if image.description %}
                            <div class='tile-info'>
                                <i class="fa fa-youtube-play" ></i>
                                <i class="fa fa-quote-left" ></i>
                            </div>
                        {% else %}
                            <div class='tile-info'><i class="fa fa-youtube-play" ></i></div>
                        {% endif %}
                     
                    {% elif image.type == 'txt' %}
                   	 
                   	 	<div class="tile-text-box-wrap">
	                   	 	<a class="fancybox" href="#{{ image.divid }}"  rel="group" >
		                    	<div class="tile-text-box" style="display: table-cell; vertical-align: middle; width: {{image.width}}px; height: {{image.height}}px;">
				                    	<span>{{ image.title }}</span>
				                </div>
			                </a>
		              	</div>
		                <div style="display: none;">
		                    <div id="{{ image.divid }}" style="overflow:auto;">
			                    <div class="tile-text">
			                    {% autoescape off %}
			                       {{ image.text_content }}
		                        {% endautoescape %}
		                        </div>
		                    </div>
						</div>           		
                     
	                {% endif %}
	                
	                {% if image.modified %}
						<div class='tile-modified'>
							<span class="fa-stack">
            	           		<i class="fa fa-circle fa-stack-2x "></i>
  								<i class="fa fa-plus-circle fa-stack-2x  fa-inverse"></i>
            	           	</span>
 			         	</div>
					{% endif %}
					</div>
				{% endfor %}
            </div>
            
		{% endif %}

	</div>

	<div class="footer">
		<a target="_blank" href="https://github.com/BastiTee/pyntrest">Powered by Pyntrest</a>
	</div>
	
    <script type="text/javascript">
        (function($) {
            $('.tiles').masonry({
                columnWidth : {{ col_width }},
                itemSelector : '.tile',
                gutter: 2,
                'isFitWidth': true
            });
            $("img.lazyload").lazy({
                effect : "fadeIn",
                effectTime : 750,
                visibleOnly : true
            });
            $(".fancybox").fancybox({
            	 margin      : 40,
            	 fitToView   : true,
                 autoSize    : true,
                 closeClick  : false,
                 openEffect  : 'none',
                 closeEffect : 'none',
                 nextEffect  : 'fade',
                 prevEffect  : 'fade',
                 padding     : 3,
                 afterLoad: function() {
                	   this.title = '<div class="tile-details">' + this.title + '</div>';
                 },
                 helpers     : {
                	media : {},
                    overlay : {
                        css : {
                            'background' : 'rgba(0, 0, 0, 0.8)'
                        }
                    },
                	title: {
                        type: 'outside'
                    }
                }
            });
        })(jQuery);
    </script>
</body>
</html>